@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300;1,400;1,600&display=swap");

:root {
    --main-color: #e84242;
    --black-color: #212121;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

body {
    background-color: var(--main-color);
}

section {
    padding: 3.5rem;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}
    .btn-order,
    .btn:hover {
        opacity: 0.9;
    }

.btn-order {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
    width: 20%; /* Örneðin, butonun yarý geniþlikte olmasýný saðlar */
    margin-left: auto;
    margin-right: auto;
}


.heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid #fff;
}

    .heading span {
        color: var(--black-color);
        text-transform: uppercase;
    }

.search-input {
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

    html::-webkit-scrollbar {
        width: 0.8rem;
        background-color: white;
    }

    html::-webkit-scrollbar-thumb {
        background-color: var(--black-color);
        border-radius: 3rem;
    }

.logo img {
    height: 7rem;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgba(0 0 0 / 75%);
    transform: scaleY(0);
}

    .header .search-form.active {
        transform: scaleY(1);
    }

    .header .search-form i {
        cursor: pointer;
        font-size: 2.2rem;
        margin-right: 1.5rem;
        color: var(--black-color);
    }

    .header .search-form input {
        width: 100%;
    }

.header .logo img {
    height: 10rem;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 9999;
}

#menu-btn {
    display: none;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

    .header .navbar .active,
    .header .navbar a:hover {
        border-color: var(--main-color);
        padding-bottom: 0.5rem;
    }

.header .buttons button {
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

.home {
    min-height: 100vh;
    background: url(../image/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

    .home .content {
        max-width: 60rem;
    }

        .home .content h3 {
            font-size: 6rem;
            color: #fff;
        }

        .home .content p {
            font-size: 2.5rem;
            line-height: 1.8;
            padding: 1rem 0;
            color: #ccc;
        }

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .menu .box-container .box img {
        width: 100%;
        object-fit: cover;
    }

    .menu .box-container .box {
        padding: 3rem;
        background-color: #fff;
        border-radius: 3rem;
        min-height: 60rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

        .menu .box-container .box .menu-category {
            font-size: 1.2rem;
            text-transform: uppercase;
        }

        .menu .box-container .box h3 {
            font-size: 3rem;
            padding: 1rem;
        }

        .menu .box-container .box .price {
            font-size: 3rem;
            padding: 0.5rem 0;
        }

            .menu .box-container .box .price span {
                font-size: 1.5rem;
                padding: 0.5rem 0;
                text-decoration: line-through;
            }

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .products .box-container .box {
        text-align: center;
        background-color: #fff;
        position: relative;
        border-radius: 3rem;
        height: 60rem;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
    }

        .products .box-container .box .box-head {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

            .products .box-container .box .box-head .title {
                font-size: 1.4rem;
            }

            .products .box-container .box .box-head .name {
                font-size: 4rem;
                font-weight: bold;
                text-align: start;
            }

    .products .box-container img {
        position: absolute;
        object-fit: cover;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        border-radius: 3rem;
    }

    .products .box-container .dark-bg .box-head .name,
    .products .box-container .dark-bg .box-head .title {
        color: #fff;
    }

    .products .box-container .dark-bg img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: unset;
    }

    .products .box-container .box-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;
    }

        .products .box-container .box-bottom .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

            .products .box-container .box-bottom .info .price {
                font-size: 3rem;
            }

            .products .box-container .box-bottom .info .amount {
                font-size: 1.4rem;
            }

    .products .box-container .dark-bg .box-bottom .info .amount,
    .products .box-container .dark-bg .box-bottom .info .price {
        color: #fff;
    }

    .products .box-container .box-bottom .product-btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 6.5rem;
        height: 6.5rem;
        border: 0.2rem solid var(--main-color);
    }

        .products .box-container .box-bottom .product-btn a i {
            font-size: 1.6rem;
            color: var(--main-color);
        }

.about .row {
    display: flex;
    flex: wrap;
    column-gap: 2rem;
}

    .about .row .image {
        flex: 1 1 45rem;
    }

    .about .row img {
        width: 100%;
    }

    .about .row .content {
        flex: 1 1 45rem;
    }

        .about .row .content h3 {
            font-size: 3rem;
            color: #fff;
        }

        .about .row .content p {
            font-size: 1.6rem;
            color: #ccc;
            padding: 1rem 0;
            line-height: 1.8;
        }

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .review .box-container .box {
        border: var(--border);
        text-align: center;
        padding: 3rem 2rem;
        background-color: #fff;
        border-radius: 3rem;
    }

        .review .box-container .box p {
            font-size: 1.5rem;
            line-height: 1.8;
            padding: 2rem 0;
        }

        .review .box-container .box .user {
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .review .box-container .box h3 {
            padding: 1rem 0;
            font-size: 2rem;
            color: var(--main-color);
        }

        .review .box-container .box .stars .fas {
            font-size: 2rem;
            color: gold;
        }

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .blogs .box-container .box {
        background-color: #fff;
        border-radius: 3rem;
    }

        .blogs .box-container .box .image {
            height: 25rem;
            overflow: hidden;
            width: 100%;
            border-top-left-radius: 3rem;
            border-top-right-radius: 3rem;
        }

            .blogs .box-container .box .image img {
                height: 25rem;
                object-fit: cover;
                width: 100%;
            }

        .blogs .box-container .box:hover .image img {
            transform: scale(1.2);
        }

        .blogs .box-container .box .content {
            padding: 2rem;
        }

            .blogs .box-container .box .content .title {
                font-size: 2rem;
                line-height: 1.5;
            }

            .blogs .box-container .box .content span {
                display: block;
                padding-top: 1rem;
                font-size: 2rem;
            }

.footer {
    background-color: var(--black-color);
    text-align: center;
}

    .footer .search {
        display: flex;
        justify-content: center;
    }

        .footer .search .search-input {
            width: 30rem;
        }

        .footer .search .btn-primary {
            background-color: var(--main-color);
            padding: 1rem 2rem;
            margin-left: 1rem;
        }

    .footer .share {
        padding: 2rem 0;
    }

        .footer .share a {
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            color: #fff;
            font-size: 3rem;
            border: var(--border);
            border-radius: 50%;
            margin: 0.3rem;
        }

            .footer .share a:hover {
                background-color: var(--main-color);
            }

    .footer .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

        .footer .links a {
            background-color: var(--main-color);
            color: #fff;
            padding: 0.7rem 2rem;
            font-size: 2rem;
            border: var(--border);
        }

            .footer .links a:hover {
                background-color: var(--black-color);
                opacity: 0.9s;
            }

    .footer .credit {
        font-size: 2rem;
        color: #fff;
        font-weight: 300;
        padding-top: 1.5rem;
    }

        .footer .credit span {
            color: var(--main-color);
        }

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

        .header .logo img {
            height: 7rem;
        }

    section {
        padding: 2rem;
    }

    .products .box-container .box .box-head .name {
        font-size: 3.4rem;
    }

    .search-form {
        width: 50% !important;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 37rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgba(0 0 0 / 75%);
        right: -100%;
    }

        .header .navbar.active {
            right: 3rem;
        }

        .header .navbar a {
            color: var(--black-color);
            display: block;
            margin: 1.5rem;
            padding: 0.5rem;
            font-size: 2rem;
        }

    .about .row {
        display: block;
        column-gap: 2rem;
    }

    .search-form {
        width: 70% !important;
    }

    .btn-order {
        width: 50%
    }
}


table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

    table * {
        position: relative;
    }

    table td, table th {
        padding-left: 8px;
    }

    table thead tr {
        height: 60px;
        background: #FFED86;
        font-size: 16px;
    }

    table tbody tr {
        height: 48px;
        font-size: 16px;
        border-bottom: 1px solid #E3F1D5;
    }

        table tbody tr:last-child {
            border: 0;
        }

    table td, table th {
        text-align: left;
    }

        table td.l, table th.l {
            text-align: right;
        }

        table td.c, table th.c {
            text-align: center;
        }

        table td.r, table th.r {
            text-align: center;
        }

@media screen and (max-width: 35.5em) {
   
    table {
        display: block;
    }

        table > *, table tr, table td, table th {
            display: block;
        }

        table thead {
            display: none;
        }

        table tbody tr {
            height: auto;
            padding: 8px 0;
        }

            table tbody tr td {
                padding-left: 45%;
                margin-bottom: 12px;
            }

                table tbody tr td:last-child {
                    margin-bottom: 0;
                }

                table tbody tr td:before {
                    position: absolute;
                    font-weight: 700;
                    width: 40%;
                    left: 10px;
                    top: 0;
                }

                table tbody tr td:nth-child(1):before {
                    content: "Name";
                }

                table tbody tr td:nth-child(2):before {
                    content: "Description";
                }

                
}


blockquote {
    color: white;
    text-align: center;
}
